RewriteEngine On

RewriteBase /ProjetoProgramacaoWebIIUcs/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pedido/?$ api/pedidos.php [L,QSA,NC]
RewriteRule ^pedido/([0-9]+)/?$ api/pedidos.php?id=$1 [L,QSA,NC]